.pf-edit-ct {
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    padding : 92px 13px 31px 13px;
}
.pf-edit-ct > p {
    color: var(--Typo-heading, #1D1B20);
font-feature-settings: 'liga' off, 'clig' off;

font-family: "GmarketSans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 20px; 
letter-spacing: -0.32px;
}

.profile-dummy { 
    width : 11px;
}

.profile-hr {
    width : 100%;
    border : none;
    height: 1px;
    background-color: #DCDCDC;
}

.img-total-ct {
    display : flex;
    flex-direction: row;
    justify-content: center;
}

.pf-img {
    width : 73px;
    height: 73px;
    border-radius: 36.5px;
    background: #BCBCBC;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top : 31px;
    padding-left : 4px;
}

.pf-img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pf-remove-bt {
    width : 13px;
    height: 13px;
    border-radius: 6px;
    background : #6F6B75;
    display : flex;
    justify-content: center;
    align-items: center;
    margin-top: 31px;
}
.pf-picture-edit {
    border-radius: 5px;
border: 1px solid var(--icon, #DCDCDC);
background: var(--Background, #FFF);
width : 350px;
height : 36px;
margin : 13px auto 33px;
display : block;

color: var(--Typo-heading, #1D1B20);
font-feature-settings: 'liga' off, 'clig' off;

/* Subtitle */
font-family: "GmarketSans";
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 19px; /* 158.333% */
padding : 0px;
}

.edit-button-ct {
    margin : 74px 0px 0px 0px;
    padding-bottom: 17px;
}

.edit-complete { 
    width: 351px;
height: 59px;
flex-shrink: 0;
border-radius: 50px;
background: var(--Primary, #FF4500);
color: var(--Background, var(--Background, #FFF));
font-feature-settings: 'liga' off, 'clig' off;

/* Body 3 */
font-family: "GmarketSans";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
letter-spacing: -0.154px;
border: none;
margin: 0 auto;
display: block;
}
