.nb-category-ct {
    display : flex;
    flex-direction: row;
    gap:15px;
    margin-left: 19px;
}

.category-all, .category-free, .category-promotion, .category-info, .category-tmi {
    display : flex;
    flex-direction: column;
    align-items: center;
    gap : 6px;
}

.category-all > p, .category-free > p, .category-info > p ,.category-promotion > p ,.category-tmi > p {
    color: var(--Divider-Border, var(--Divider-Border, #BCBCBC));
font-feature-settings: 'liga' off, 'clig' off;

/* Title 2 */
font-family: "GmarketSans";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
letter-spacing: -0.15px;
}
.nb-hr {
    width : 100%;
    border : none;
    height: 1px;
    background-color: #DCDCDC;
    margin: 0px;

}

.nb-contant-all-ct {
    background-color: #F5F5F5;
    height: 100vh;
    max-height: 614px;
    overflow-y: auto;
    padding-top : 13px;
    display : flex;
    flex-direction: column;
    gap : 13px;
}

.nb-contant-ct {
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    padding : 15px 19px 15px 19px;
    background: #FFF;
    width : 100%;
    height: 106px;
}

.nb-left-ct {
    display : flex;
    flex-direction: column;
    gap : 3px;
    width : 50%;
}

.nb-left1 {
    color: var(--typo-title, #49454F);
font-feature-settings: 'liga' off, 'clig' off;

/* medium */
-webkit-text-stroke-width: 0.1px;
-webkit-text-stroke-color: var(--typo-title, #49454F);
font-family: "GmarketSans";
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 166.667% */
letter-spacing: 0.24px;
padding-bottom: 3px;
}

.nb-left2 {
    color: var(--Secondary-Text-2, var(--Secondary-Text2, #707070));

/* small */
font-family: "GmarketSans";
font-size: 8px;
font-style: normal;
font-weight: 400;
line-height: 180%; /* 14.4px */
word-break: break-word;
}

.nb-left3 {
    display: flex;
width: 60px;
padding: 1px 5px 0 5px;
justify-content: center;
align-items: center;
gap: 8px;
    border-radius: 3px;
background: var(--Line, #F0F0F0);
color: var(--Secondary-Text-2, var(--Secondary-Text2, #707070));
font-feature-settings: 'liga' off, 'clig' off;

/* body4 */
font-family: "GmarketSans";
font-size: 7px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 228.571% */
letter-spacing: 0.24px;
}

.nb-right-all-ct {
    display : flex;
    flex-direction: column;
    gap : 9px;
}

.nb-img-ct {
    width : 55px;
    height: 55px;
    flex-shrink: 0; 
    border-radius: 5px;
}

.nb-img-ct > img {
  width: 100%;
  height: 100% !important;
  object-fit: cover;
  border-radius: 8px; 
}

.nb-right-ct {
    display : flex;
    flex-direction: row;
    gap : 3px;
    justify-content: flex-end;
    align-items: center;
}

.nb-comment-ct {
    display : flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.nb-right-ct > p {
    color: var(--Secondary-Text-2, var(--Secondary-Text2, #707070));
font-feature-settings: 'liga' off, 'clig' off;

/* body4 */
font-family: "GmarketSans";
font-size: 7px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 228.571% */
letter-spacing: 0.24px;
}

.nb-left4 {
    color: var(--Secondary-Text-2, var(--Secondary-Text2, #707070));
font-feature-settings: 'liga' off, 'clig' off;

/* body4 */
font-family: "GmarketSans";
font-size: 7px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 228.571% */
letter-spacing: 0.24px;
}

.nb-write-btn {
    color: var(--Background, var(--Background, #FFF));
font-feature-settings: 'liga' off, 'clig' off;

/* Title 1 */
font-family: "GmarketSans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 22px; /* 137.5% */
letter-spacing: -0.32px;
width: 104px;
height: 36px;
flex-shrink: 0;
border-radius: 20.382px;
background: var(--Primary, #FF4500);

/* 그림자 */
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.10);
position: absolute;
bottom: 110px;
right: 14px;
border: 0px;
z-index: 99;
}